/*scalablecss.com*/
:root {
  --vermelho: #E50914;
  --preta: #141414;
}

* {
  margin: 0 padding:0;
  box-sizing: border-box;
  /*garantir que entra na borda da caixa*/
}

/*base*/

body {
  background: var(--preta);
  font-family: Arial, 'Times New Roman', Times, serif;
  color: white
}

header .container {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--vermelho);
  font-family: 'Arial Black', Times;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
  color: #AAA;
  margin-right: 10 px;
}

header nav a:hover {
  color: #fff;
}

/*filme principal*/
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, .60), rgba(0, 0, 0, .60)100%), url('/img/pmbok.jpg');

  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*começar da esquerda*/
}

.filme-principal .descricao {
  margin-bottom: 40px;
  margin-top: 10px;
}

.titulo {
  margin-top: 20%;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.botao {
  background-color: rgba(0, 0, 0, .50);
  color: white;
  border: none;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: .3s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 30px;
}

.file-principal .container {
  width: 70%;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}

.container h2 {
  margin-right: 10px;
}

.carrosel-filmes {
  max-height: 150px;
}

.carrosel-filmes {
  margin-top: 5px;
}

.rodape {
  position: absolute;
  left: 0;
  top: 5em;
}

.rodape li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  color: white;
  width: 20px;
}

.rodape a {
  color: white;
}